
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: justify;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #555;
  }

  h1, h2, h3 {
    color: #333;
  }

  p {
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    color: #333;
  }


  header {
    background-color: #7089de;
    padding: 20px 0;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }


  section {
    padding: 40px 0;
    background-color: #bdd3f7;
  }


  .exemplo {
    margin-bottom: 30px;
  }

  .exemplo img {
    max-width: 100%;
  }


  .financas{
    width: 20%;
  }

  .ciencia{
    width: 30%;
  }

  .tecnologia{
    width: 40%;
  }

  .medicina{
    width: 65%;
  }

  .imagem_historia{
    width: 30%;
  }
  .img_texto{
    display: flex;
  }
  .texto{
    margin-left: 16px;
  }
